/*
**************************
ОБНУЛЕНИЕ СТИЛЕЙ
**************************
*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
nav,
footer,
header,
aside {
    display: block;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
    margin: 0;
}
a {
    transition: 0.2s ease-out;
}
/*
*************************************
WORK START
*************************************
*/

/*FONTS*/

/*
font-family: 'Nunito Sans', sans-serif;
font-family: 'Yeseva One', cursive;
*/

@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'), url('../fonts/Glyphter.woff') format('woff'), url('../fonts/Glyphter.ttf') format('truetype'), url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before {
    display: inline-block;
    font-family: 'Glyphter';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.icon-arrowR:before {
    content: '\0041';
}
.icon-mail:before {
    content: '\0042';
}
.icon-pig:before {
    content: '\0043';
}
.icon-hummer&wranch:before {
    content: '\0044';
}
.icon-instagram:before {
    content: '\0045';
}
.icon-arrowL:before {
    content: '\0046';
}
.icon-hands:before {
    content: '\0047';
}
.icon-Cam:before {
    content: '\0048';
}
.icon-play:before {
    content: '\0049';
}
.icon-diagram:before {
    content: '\004a';
}
.icon-rightArrowSlide:before {
    content: '\004b';
}
.icon-leftArrowSlide:before {
    content: '\004c';
}
.icon-point:before {
    content: '\004d';
}
.icon-mark:before {
    content: '\004e';
}
.icon-pause:before {
    content: '\004f';
}
/*REUSE*/

.button {
    background: #E3B873;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 2px;
}
.title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}
.title__white-part {
    color: white;
}
.subtitle {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}
.container {
    width: 1256px;
    margin: 0 auto;
}
.sublogo {
    display: block;
    font-size: 28px;
    color: #E3B873;
}
.sublogo-container {
    position: relative;
    margin: 0 auto;
}
.sublogo-container::before {
    position: absolute;
    content: '';
    width: 32px;
    height: 1.5px;
    background-color: #E3B873;
    border-radius: 30px;
    top: 50%;
    left: calc(-100% - 10px);
}
.sublogo-container::after {
    position: absolute;
    content: '';
    width: 32px;
    height: 1.5px;
    background-color: #E3B873;
    border-radius: 30px;
    top: 50%;
    right: calc(-100% - 7px);
}
.darkness {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    margin-bottom:7px;
}
.input {
    font-size: 14px;
    line-height: 23px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 8px;
    color: #363636;
    width: 100%;

}
form * {
    outline: none;
}
.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form__item {
    display: flex;
    flex-direction: column;
}
.form__item_checkbox {
    display: block;
}
.checkbox {}
.checkbox-label {
    font-size: 14px;
    line-height: 23px;
    color: #181818;
}
/*
-*********************************
GENERAL
-*********************************
*/

body {
    background-color: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
    color: #FFFFFF;
}
.wrapper {}
/*
-*********************************
HEADER
-*********************************
*/

.header {
    position: sticky;
    top: 0;
    background-color: #131313;
    color: #FFFFFF;
    height: 83px;
    display: flex;
    align-items: center;
    z-index: 4;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
}
.navigation__list {
    display: flex;
}
.navigation__item {
    margin-right: 47px;
}
.navigation__link {
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    outline: 0;
}
.header__contact {
    display: flex;
    align-items: center;
}
.header__phone {
    display: block;
    color: #E3B873;
    text-decoration: underline;
    text-align: right;
    font-size: 11px;
    line-height: 15px;
    margin-right: 45px;
    outline: 0;
}
.header__button {
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    padding: 13px 33px;
    border-radius: 2px;
    outline: 0;
}
/*
***************************************************
HOME
***************************************************
*/

.home {
    height: 707px;
    background: rgba(0, 0, 0, 0.7);
    position: relative;
    background-image: url(../image/bg/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home__container {
    padding-top: 184px;
    z-index: 1;
    position: relative;
    padding-left: 42px;
}
.home__title {
    font-size: 40px;
    line-height: 53px;
    margin-bottom: 19px;
    letter-spacing: 0em;
}
.home__description {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    display: block;
    width: 504px;
    margin-bottom: 34px;
}
.home__button-calc {
    margin-right: 20px;
    padding: 20px 42px;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
}
.home__button-submit {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 20px 23px;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}
/*
***************************************************
PROJECTS
***************************************************
*/

.projects {
    background-color: #131313;
    padding-top: 107px;
    padding-bottom: 415px;
}
.projects__container {
    padding-left: 42px;
    padding-right: 42px;
    display: grid;
    grid-template: 69px repeat(5, minmax(96.4px, auto)) / 190px 303px 679px;
    grid-template-areas: "nav nav nav""title title slider""description description slider""city area slider""time cost slider""control control slider";
}
.projects__nav {
    padding-left: 493px;
    grid-area: nav;
}
.nav__list {
    display: flex;
}
.nav__item {
    margin-right: 61px;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: 0em;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.3);
}
.nav__item:nth-last-child(2) {
    margin-right: 0;
}
.nav__item_active {
    color: #E3B873;
    position: relative;
}
.nav__item_active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #E3B873;
    bottom: -6px;
    left: 0;
}
.nav__arrow {
    font-size: 25px;
    display: none;
}
.nav__arrow_L {
    order: -1;
    margin-right: 10px;
}
.nav__item_admiral {
    order: 1;
}
.nav__item_thieves {
    order: 2;
}
.nav__item_patriotic {
    order: 3;
}
.nav__arrow_R {
    order: 4;
    margin-left: 10px;
}
.projects__title {
    padding-right: 50px;
    grid-area: title;
}
.projects__description {
    padding-right: 50px;
    grid-area: description;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}
.projects__criteria {} .projects__criteria_city {} .projects__criteria_area {
    padding-right: 50px;
}
.projects__criteria_time {} .projects__criteria_cost {
    padding-right: 50px;
}
.criteria__title {
    letter-spacing: 0em;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}
.criteria__description {
    font-size: 13px;
    line-height: 21px;
}
.projects__control {
    grid-area: control;
    display: flex;
    align-items: flex-end;
}
.control__container {
    display: flex;
    align-items: center;
    margin-bottom: -22.5px;
}
.control__point {
    margin-right: 18px;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: 0.2s ease-out;
}
.control__point:nth-child(4) {
    margin-right: 0px;
}
.control__point_active {
    color: #FFFFFF;
}
.control__arrow {
    font-size: 45px;
    cursor: pointer;
}
.control__arrow_left {
    margin-right: 30px;
}
.control__arrow_right {
    margin-left: 30px;
}
.projects__slider {
    grid-area: slider;
    position: relative;
}
.slider__image {
    max-width: 100%;
}
.slider__Arrow {
    display: none;
}
.slider__content {
    position: relative;
}
/*.slider{}*/

/*
************************************
MEASUREMENT
************************************
*/

.content__measurement {
    margin-top: -415px;
    padding-top: 92px;
}
.measurement__container {
    padding: 0 218.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.measurement__sublitle {
    color: #FFFFFF;
    margin-bottom: 13px;
}
.measurement__sublogo {
    margin: 0 auto;
    margin-bottom: 31px;
}
.measurement__video {
    width: 100%;
    height: 434px;
    position: relative;
    margin-bottom: 98px;
}
.measurement__iframe {
    width: 100%;
    height: 100%;
}
.measurement__video-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s ease-out;
}
.measurement__play-button {
    position: absolute;
    top: calc(50% - 14px);
    left: calc(50% - 14px);
    z-index: 3;
    font-size: 28px;
    transition: 0.2s ease-out;
}
.measurement__circle {
    position: absolute;
    background: #E3B873;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
    width: 85px;
    height: 85px;
    top: calc(50% - 42.5px);
    left: calc(50% - 45px);
    z-index: 2;
    border-radius: 50%;
    transition: 0.2s ease-out;
}
.measurement__circle {
    transition: 0.2s ease-out;
}
.measurement__video-image_active {
    opacity: 0;
    z-index: -1;
}
.measurement__play-button_active {
    opacity: 0;
    z-index: -1;
}
.measurement__circle_active {
    opacity: 0;
    z-index: -1;
}
measurement__darkness_active {
    opacity: 0;
    z-index: -1;
}
.measurement__description {
    position: relative;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    padding: 0 68px;
    margin-bottom: 91px;
}
.measurement__description::before {
    content: '';
    position: absolute;
    top: -35px;
    left: calc(50% - 27.5px);
    background: #E3B873;
    border-radius: 30px;
    width: 55px;
    height: 1.5px;
}
.measurement__form {
    padding: 0 24px;
}
.form__item_name-measurement{
    margin-right: 58px;
    margin-bottom: 39px;

}
.form__item_phone-measurement{
    margin-right: 58px;
    margin-bottom: 39px;
}
.form__button{
    padding: 10px 75px;
}
.form__item_button-measurement{
    margin-bottom: 39px;
}
.form__item_checkbox-measurement{

}
.form__checkbox-label_measurement{
    margin-left: 9px;
}
/*
************************************
MEDIA
************************************
*/

@media (min-width: 769px) {
    .navigation__link:hover {
        color: #E3B873;
        outline: 0;
    }
}
@media (max-width: 1440px) {
    .home__title {
        font-size: calc(23px + 17 * (100vw / 1440));
        line-height: calc(31px + 22 * (100vw / 1440));
    }
    .home__description {
        font-size: calc(14px + 8 * (100vw / 1440));
        line-height: calc(19px + 17 * (100vw / 1440));
    }
}
@media (max-width: 1300px) {
    .container {
        width: 100%;
        padding-left: 18px;
        padding-right: 18px;
    }
    .home__title {
        margin-bottom: 16px;
    }
    .home__container {
        padding-left: 42px;
    }
    home__description {
        margin-bottom: 32px;
    }
    .projects__container {
        grid-template: repeat(7, auto) / 1fr 1fr;
        grid-template-areas: "title title""description description""nav nav""slider slider""control control""city area""time cost";
    }
    .projects__nav {
        padding-left: 0;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        margin-bottom: 22px;
    }
    .projects__title {
        text-align: center;
        margin-bottom: 22px;
        padding-right: 0;
    }
    .projects__description {
        text-align: center;
        margin-bottom: 22px;
        padding-right: 0;
        max-width: 424px;
        margin-left: auto;
        margin-right: auto;
    }
    .projects__slider {
        text-align: center;
    }
    .projects__control {
        justify-content: center;
        align-items: center;
    }
    .control__container {
        margin-bottom: 0;
    }
    .projects {
        padding-top: 36px;
    }
    .criteria {
        margin-bottom: 27px;
    }
    .projects__criteria_city {
        width: 339.5px;
        justify-self: end;
    }
    .projects__criteria_area {
        padding-right: 0;
        max-width: 339.5px;
    }
    .projects__criteria_time {
        width: 339.5px;
        justify-self: end;
    }
    .projects__criteria_cost {
        padding-right: 0;
        max-width: 339.5px;
    }
}
@media (max-width: 1120px) {
    .header__button {
        display: none;
    }
    .header__phone {
        margin: 0;
    }
}
@media (max-width: 900px) {
    .header-navigation {
        display: none;
    }
    .header {
        height: 57px;
    }
}
@media (max-width: 768px) {
    .header__phone {
        text-decoration: none;
        color: white;
    }
    .header__phone:hover {
        color: white;
        text-decoration: none;
    }
    .home__container {
        padding-left: 18px;
        padding-top: 85px;
    }
    .home__description {
        width: 100%;
    }
    .home {
        height: 476px;
    }
    .nav__item {
        margin-right: 0px;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        letter-spacing: 0em;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.3);
        display: none;
    }
    .nav__item:last-child {
        margin-right: 0;
    }
    .nav__item_active {
        color: #E3B873;
        position: relative;
        display: list-item;
    }
    .nav__item_active::after {
        bottom: 9px;
    }
    .nav__arrow {
        display: block;
        font-size: 30px;
    }
    .projects__control {
        display: none;
    }
    .projects__slider {
        margin-bottom: 22px;
    }
    .projects__nav {
        margin-bottom: 0;
    }
    .slider__Arrow {
        display: block;
        position: absolute;
        top: calc(50% - 18.5px);
        font-size: 11px;
        padding: 13px 16px;
        background-color: #E3B873;
        border-radius: 50%;
    }
    .slider__Arrow_left {
        left: 40px;
    }
    .slider__Arrow_right {
        right: 40px;
    }
}
@media (max-width: 715px) {
    .projects__criteria_city {
        width: auto;
        justify-self: auto;
    }
    .projects__criteria_time {
        width: auto;
        justify-self: auto;
    }
    .slider__Arrow_left {
        left: 14px;
    }
    .slider__Arrow_right {
        right: 14px;
    }
}
@media (max-width: 500px) {
    @media (max-width: 500px) {
        .home__button-calc {
            width: 100%;
            margin-right: 0;
            margin-bottom: 26px;
        }
        .home__button-submit {
            display: block;
            width: 100%;
        }
        .home__hidden {
            display: none;
        }
        .projects__title {
            font-size: 22px;
        }
        .slider__Arrow {
            display: block;
            position: absolute;
            top: calc(50% - 14.5px);
            font-size: 11px;
            padding: 9px 11px;
            background-color: #E3B873;
            border-radius: 50%;
        }
    }
    @media (max-width: 403px) {
        .projects__description {
            font-size: 11px;
        }
        .criteria__title {
            font-size: 14px;
            margin-bottom: 11px;
        }
        .criteria__description {
            font-size: 11px;
        }
    }
    @media (max-width: 390px) {
        .home__title {
            font-size: 23px;
        }
        .home__description {
            font-size: 14px;
        }
    }
    @media (max-width: 343px) {
        .home__title {
            font-size: 20px;
        }
        .home__description {
            font-size: 12px;
        }
        .projects__description {
            font-size: 10px;
        }
    }
